{% extends 'base.html' %}

{% block content %}
    <h2>Make a Payment</h2>
    <form method="post" action="{% url 'monthly_payment_form' order_id=order.m_order_id %}">
        <div>
            You are paying order number: {{ order.m_order_id }}
        </div>
        <div>
            Order Details:
            <ul>
                <li>Total Items: {{ order.m_items }}</li>
                <li>Total Amount: ${{ order.m_total_amount }}</li>
                <li>Amount to pay: ${{ order.m_monthly_pay}}</li>
            </ul>
        </div>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Payment</button>
    </form>
{% endblock %}
