{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Orders</h1>
    {% for order in orders %}
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Order ID: {{ order.m_order_id }}</h5>
          <p class="card-text">Total Amount: ${{ order.m_total_amount }}</p>
          <a href="{% url 'select_payment_method' order_id=order.m_order_id %}" class="btn btn-primary">Make Payment</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
