{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
    <body>
        
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Review Product Adding Request</h5>
                  <p class="card-text">Product adding requests by Renter</p>
                  <a href="{% url 'add_product_rqsts' %}" class="btn btn-primary">Pending Requests</a>
                  <a href="{% url 'approved_requests' %}" class="btn btn-primary">Approved Requests</a>
                  <a href="{% url 'disapproved_requests' %}" class="btn btn-primary">Disapproved Requests</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Review Product Return Request</h5>
                    <p class="card-text">Product Return requests by Rentee</p>
                    <a href="{% url 'return_requests' %}" class="btn btn-primary">Pending Requests</a>
                    <a href="{% url 'approved_return_rqsts' %}" class="btn btn-primary">Approved Requests</a>
                    <a href="{% url 'disapproved_return_rqsts' %}" class="btn btn-primary">Disapproved Requests</a>
                </div>
              </div>
              
            </div>
            <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Book Delivery Man</h5>
                      <p class="card-text">Product Return requests by Rentee</p>
                      <a href="#" class="btn btn-primary">View</a>
                      <a href="#" class="btn btn-primary">Book</a>
                      
                  </div>
                </div>
                
              </div>
          </div>
    </body>
</html>
{% endblock %}