{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h1 style="text-align: center; color: #093a00; font-family: 'Arial', sans-serif; font-size: 24px; margin-bottom: 20px;">Approved Requests</h1>
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Renter</th>
                <th>Product</th>
                <th>Approval Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for request in approved_requests %}
                <tr>
                    <td>{{ request.renter.username }}</td>
                    <td>{{ request.product.name }}</td>
                    <td>{{ request.approved_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
