{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Book Delivery Man</h5>
                    <a href="{% url 'delivery:delivery_request_list' %}" class="btn btn-primary">View</a>
                    <a href="{% url 'delivery:delivery_request_create' %}" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}