{% extends "base.html" %}
{% load static %}

{% block title %}
Bhara Hobe - Home
{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Bhara Hobe</a>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search_results' %}">
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!-- End Navbar -->

<div class="container">
    <!-- Your home page content here -->
</div>
{% endblock %}
<!-- In this code:

    The {% url 'search_results' %} template tag generates the 
    URL for the search results view, ensuring that the form submits 
    the search query to the correct endpoint.
    The form action is set to the generated URL, so when the user 
    submits the search form, it will be handled by the appropriate 
    view in your Django application. -->
